// HEADINGS
$heading-0: clamp(0.8rem, calc(0.3rem + 2.28vw), 3.27rem);
$heading-1: clamp(1rem, calc(0.33rem + 3.38vw), 4.38rem);
$heading-2: clamp(1.2rem, calc(0.35rem + 4.27vw), 5.47rem);
$heading-3: clamp(1.44rem, calc(0.36rem + 5.4vw), 6.84rem);
$heading-4: clamp(1.73rem, calc(0.36rem + 6.82vw), 8.55rem);
$heading-5: clamp(2.07rem, calc(0.35rem + 8.61vw), 10.68rem);
$heading-6: clamp(2.49rem, calc(0.32rem + 10.86vw), 13.35rem);
