@import '../../../style/utils/base';

.heroSection {
  height: 110svh ;// desktop slider bigger
  position: relative;

  .slick-dots {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex !important;
    justify-content: center;
    li {
      button {
        cursor: pointer;
      }
    }
  }

  @include response(phone) {
    height: 60svh; // mobile same
  }

  .bgImage {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .imgContainer {
      height: 100%;
      width: 100%;
    }

    .img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;

      // Desktop fix: make sure full image fits
      @include response(tab-land-up) {
        object-fit: contain;
        max-height: 100%;
      }
    }

    .slick-track {
       height: 110svh;

      @include response(tab-land-up) {
        height: 100%;
      }

      @include response(phone) {
        height: 60svh;
      }
    }

    .slick-track .slick-slide > div {
      height: 100%;
    }
  }

  .layout {
    height: 45rem;
    width: 45rem;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;

    @include response(phone) {
      height: 30rem;
      width: 30rem;
    }

    .img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .glory {
    height: 21rem;
    width: 21rem;

    position: absolute;
    top: 8rem;
    right: 13rem;
    z-index: 5;

    @include response(phone) {
      height: 15rem;
      width: 15rem;
      right: 3rem;
      top: 6rem;
    }

    .img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .contentContainer {
    background-color: rgba($color: black, $alpha: 0.3);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    display: flex;
    align-items: center;

    @include response(phone) {
      align-items: flex-end;
      justify-content: center;
    }

    .imgContainer {
      position: relative;
      height: 45rem;
      width: 45rem;
      margin-left: 10rem;

      @include response(tab-port) {
        height: 35rem;
        width: 35rem;
        margin-bottom: 5rem;
      }

      @include response(phone) {
        height: 25rem;
        width: 25rem;
        margin-left: 0;
        margin-bottom: 8rem;
      }

      .img {
        height: 100%;
        width: 100%;
        object-fit: contain;

        // Desktop fix
        @include response(tab-land-up) {
          object-fit: contain;
          max-height: 100%;
        }
      }
    }
  }
}